#container {
  height: 1000px;
  width: 400px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  border: 1px solid black;
}
.sub_container {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  border: 1px solid black;
  font-size: 40px;
}
